@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UNIVERSAL */
body {
    background-color: #221913;
}

.icon {
    margin: 2px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    align-items:flex-end;
}

/* HEADER */
header {
    background-color:#221913;
    position: relative;
}

.container {
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navitem {
    margin: 0px;
    padding: 10px;
}

.navlinks {
    margin: 5px;
    padding: 20px;
    color: #bd622a;
}

.navlinks:hover {
    margin: 5px;
    padding: 20px;
    color: #ffffff;
}

.logo {
    max-width: 160px;
    max-height: 90px;
    margin: 0px 0px 0px 0px;
    align-items: center;
}

.nav-button {
    background-color: #bd622a;
    padding: 6px 14px;
    margin: 2px;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
}

.nav-button:hover {
    background-color: #ffffff;
    padding: 6px 14px;
    margin: 2px;
    color: #221913;
    border-radius: 5px;
    border-style: solid;
    border-color: #221913;
}

.searchbar {
    padding: 6px 14px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0px;
}

/* FOOTER */
footer {
    background-color:#ffffff;
    position: relative;
    color: black;
    padding: 20px;
}

footer-grid {
    display: grid;
    grid-template-areas:
    "sosmed about-us"
    "web-info about-us-info"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    width: 80%;
    text-align: left;
    padding: 10px;
}

web-info {
    grid-area: web-info;
    display: grid;
    grid-template-areas: 
    "info1 info4"
    "info2 info5"
    "info3 info6"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

sosmed {
    grid-area: sosmed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

info1 {
    grid-area: info1;
    padding: 5px 0px;
    margin: 5px;
}
info2 {
    grid-area: info2;
    padding: 5px 0px;
    margin: 5px;
}
info3 {
    grid-area: info3;
    padding: 5px 0px;
    margin: 5px;
}
info4 {
    grid-area: info4;
    padding: 5px 0px;
    margin: 5px;
}
info5 {
    grid-area: info5;
    padding: 5px 0px;
    margin: 5px;
}
info6 {
    grid-area: info6;
    padding: 5px 0px;
    margin: 5px;
}

about-us {
    grid-area: about-us;
    padding: 5px;
}

about-us-info {
    grid-area: about-us-info;
    padding: 5px;
}

/* SIDEBAR */
aside {
    grid-area: aside;
    background-color:#221913;
    margin: 0px;
    padding: 30px 10px 30px 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.side-button-on {
    background-color: #bd622a;
    padding: 10px 28px 10px 20%;
    margin: 5px;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
    font-size: 12px;
}

.side-button {
    padding: 10px 28px 10px 20%;
    margin: 5px;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
    font-size: 12px;
}

.side-button:hover {
    background-color: #bd622a;
    padding: 10px 40px 10px 16%;
    margin: 5px;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
    font-size: 12px;
}

/* CONTENT */

article {
    grid-area: article;
    background-color:#ffffff;
    margin: 0px;
    padding: 30px 10px 30px 30px;
}


.box-content {
    width: 90%;
    height: 90%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
}

.box-address {
    height: 100%;
    background-color: #bd622a;
}

.box input {
    width: 100%;
}

.box-1 {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.box-1 input {
    width: 100%;
    
}

.box-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box-2-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.box-2-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.box-3 {
    justify-content: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px 2px;
}

.tickets-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #bd622a;
    width: 100%;
    height: 100%;
    padding-left: 20%;
}

.subjudul {
    font-size: 14px;
}

.tickets-desc {
    font-size: 12px;
}
*/